<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swumeal.app.global.mapper.MypageMapper">
    <select id="selectAllTerms" resultType="termsVO">
        select id, num, title, content
        from Terms
        order by num
    </select>
    <select id="selectAllPolicies" resultType="policyVO">
        select id, num, title, content
        from Privacy_policy
        order by num is null, num
    </select>
</mapper>