<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.swumeal.app.domain.menu.domain.MenuVO" alias="menuVO"/>
        <typeAlias type="com.swumeal.app.domain.menu.domain.MenuItemVO" alias="menuItemVO"/>
        <typeAlias type="com.swumeal.app.domain.menu.dto.MenuDTO" alias="menuDTO"/>
        <typeAlias type="com.swumeal.app.domain.menu.dto.MenuListByDateDto" alias="menuListByDateDto"/>
        <typeAlias type="com.swumeal.app.domain.menu.dto.MenuListByTimeDto" alias="menuListByTimeDto"/>
        <typeAlias type="com.swumeal.app.domain.menu.dto.DailyMenuDto" alias="dailyMenuDto"/>
        <typeAlias type="com.swumeal.app.domain.menu.dto.DailyMenuListDto" alias="dailyMenuListDto"/>
        <typeAlias type="com.swumeal.app.domain.mypage.dto.TermsDTO" alias="termsDTO"/>
        <typeAlias type="com.swumeal.app.domain.mypage.dto.PolicyDTO" alias="policyDTO"/>
        <typeAlias type="com.swumeal.app.domain.mypage.domain.TermsVO" alias="termsVO"/>
        <typeAlias type="com.swumeal.app.domain.mypage.domain.PolicyVO" alias="policyVO"/>
    </typeAliases>

</configuration>